{% if breadcrumbs is defined and breadcrumbs is not empty %}
<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="{{ baseUrl('admin/home/index') }}">Home</a></li>

                {% for crumb in breadcrumbs %}
                    {% if loop.last %}
                        <li><a href="#" class="active">{{ crumb.name }}</a></li>
                    {% else %}
                        <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- END BREADCRUMB -->
        </div>
    </div>
</div>
{% endif %}