{% extends "/admin/widgets/crud/add/_addForm.twig" %}
{% set controllerName = "admins" %}


{% block topLeftActionBar %}
{% endblock %}

{% block topRightActionBar %}
{% endblock %}

{% block formContent %}
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ "General Info"|trans }}</div>
                </div>
                <div class="panel-body">

                    {% include "admin/widgets/form/_crudInput.twig" with {columnName: "name", required : 1} %}
                    {% include "admin/widgets/form/_crudInput.twig" with {columnName: "email", required : 1} %}
                    {% include "admin/widgets/form/_crudInput.twig" with {columnName: "password", type:"password"} %}
                    {% include "admin/widgets/form/_crudInput.twig" with {columnName: "password_confirmation", title: "Password Confirmation", type:"password"} %}
                    {% include "admin/widgets/form/_crudSelect.twig" with {columnName: "status", required : 1, options: statuses} %}

                </div>
            </div>

        </div>
    </div>
{% endblock %}