<div class="form-group">
    <label for="setting_value">{{ instance.name }}</label>
    <div class="wysiwyg5-wrapper b-a b-grey">
        <textarea name="setting[value]" id="setting_value" class="wysiwyg wysihtml5 demo-form-wysiwyg">{{ instance.value|escape }}</textarea>
    </div>
</div>