<div class="form-group">
    <label for="setting_value">{{ instance.name }}</label>
    <textarea name="setting[value]" id="setting_value" class="form-control" rows="7">{{ instance.value }}</textarea>
</div>